body {
    margin: 10px 120px 20px 120px;
}


/*Header*/
.header-logo{
    background-color: #cccccc; 
    width: 800px;
    height: 104px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    border: 1px solid;
    box-sizing: border-box;
}
.header-logo-img{
    display: flex;
    margin: 10px;
    width: 70px;
    height: 70px;
}
.header-logo-text {
    display: flex;
    flex-direction: column;
    opacity: 0.9;
}
.header-main-text {
    display: flex;
    margin: 0;
    padding-top: 14px;
    font-size: 18px;
    width: 187px;
    height: 18px;
    font-weight: normal;
    color: #6d6d6d;
}
.header-sb-main-text{
    display: flex;
    margin: 0;
    font-size: 11px;
    width: 113px;
    height: 11px;
    font-weight: normal;
    color: #696969;
}


/*Tab navigations*/
.tab-navigations-menu{
    margin: 0 auto;
    width: 800px;
}
.tab-menu-positions {
    display: flex;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
}
.li-tab-positions{
    display: flex;
    list-style-type: none;
}
.tab-font-style{
    display: flex;
    justify-content: center;
    padding-top: 6px;
    width:100px ;
    height: 21px ;
    font-size: 15px;
    color: #f0f8ff;
    text-decoration: none;
}
.boreder-tab{
    background-color: #000;
}

.boreder-tab:hover,
.boreder-tab:focus {
  background-color: #fff;
}
.tab-font-style:hover,
.tab-font-style:focus{
    color: #000;
}



/*Page content positions*/
.tab-page {
    margin: 10px auto;
    margin-bottom: 0;
    display: flex;
    width: 800px;
}
.page-content-position{
    display: flex;
    flex-direction: row;
}
.vert-navigations-container{
    display: flex;
    width: 225px;
    height: 480px;
    background-color: #cccccc;
    padding: 10px;
}
.vert-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    width: 100%;
    height: 230px;
    background-color: #000;
}
.vertical-font-text{
    padding-left: 10px;
    padding-top: 10px;
    height: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

.vertical-font-text:hover{
    background-color: #fff;
    color: #000;
    text-decoration: underline;
    text-decoration-color: #000;;
}


/*Tab contents position for conteiner*/

.tab-content-positions{
    width: 555px;
}

.tab-visibility {
    display: none;
}

.tab-visibility:target{
    display: block;
}


/*For all tab content on page*/


.tab-content {
    margin: 0 auto;
    padding-left: 10px;
}
.font-title-page{
    padding-left: 10px;
    font-size: 20px;
}
.tab-font-text{
    padding-left: 10px;
    font-size: 14px;
}
.tab-li-text{
    list-style-type:disc;
    font-size: 14px;
}

/*Footer*/
.footer-container{
    background-color: #000;
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 50px;
}


@media only screen and (max-width: 950px) {

    .header-logo{
        width: 600px;
        height: 104px;
    }

    .tab-navigations-menu{
        margin: 0 auto;
        width: 600px;
    }

    .tab-page {
        width: 600px;
    }

    .tab-content-positions{
        width: 355px;
    }

    .footer-container{
        background-color: #000;
        display: flex;
        margin: 0 auto;
        width: 600px;
        height: 50px;
    }

    
}
@media only screen and (max-width: 750px) {

    body {
        margin: 0 auto;
      }

    .header-logo{
        width: 300px;
        height: 104px;
    }

    .header-main-text {
        padding: 9px 0 0 0;
        font-size: 10px;
    }

    .header-sb-main-text{
        display: flex;
        margin: 0;
        font-size: 8px;
    }

    .tab-navigations-menu{
        width: 300px;
    }


    .tab-font-style{
        padding-top: 3px;
        font-size: 13px;
    }


    .tab-page {
        margin: 2px auto;
        width: 300px;
    }

    .vert-navigations-container{
        display: flex;
        width: 90px;
        height: 480px;
        background-color: #cccccc;
        padding: 5px;
    }

    .vert-menu{
        margin:5px;
        width: 100%;
        height: 240px;
    }
    
    .vertical-font-text{
        padding-left: 20px;
        padding-top: 5px;
        height: 40px;
        font-size: 9px;
    }
    
    .tab-content-positions{
        width: 200px;
    }

    .font-title-page{
        padding-left: 0px;
        font-size: 17px;
    }

    .tab-font-text{
        padding-left: 0;
        font-size: 14px;
    }

    .tab-li-text{
        padding-left: 0;
        list-style-type:disc;
        font-size: 14px;
    }
    
    .footer-container{
        width: 300px;
        height: 25px;
    }
}